<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gary Lai</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h1>Hi, this is Gary!</h1>
        
        <div id="app">
            <ul>
                    <li v-for="(ingredient,i) in ingredients" :key="ingredient">{{ingredient}}({{i}})</li> <!--using the v-bind/key, it stores ingredient as the unique key value, not just the default storing, which is the position of the elemtn-->
                    <button @click="ingredients.push('Chili')">Add Chili</button>
            </ul>
<hr>                
            <template v-for="(ingredient, i) in ingredients">
                <h1>{{ingredient}}</h1>
                <p>{{i}}</p>
            </template>
<hr>
            <ul>
                <li v-for="pers in persons">{{pers.name}}</li>
            </ul>
<hr>
            <ul>
                <li v-for="pers in persons">
                    <div v-for="(valu, fuck, i) in pers"> {{fuck}}: {{valu}} ({{i}})</div> <!--(1,2,3): 1 is the value, 2 is the name of the value, 3 is the index-->
                </li>
            </ul>
<hr>
                <div>
                    <div v-for="n in 20">{{n}}</div><br>
                    <span v-for="b in 5">{{b}}</span>
                </div>
    </div>

    </body>
    <script>
        new Vue ({
            el:"#app",
            data:{
                ingredients:["steak","apple","milk"],
                persons:[{name:"Max", age:23, race:"Caucasian"},
                        {name:"Gary", age: 24, race:"Chinese"},
                        {name:"John", age:26, race:"Malay"}
                ]
            }
        })
        
        </script>

</html>