@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
    width: 80%;
    border: 20px solid #bdc3c7;
    font-family: 'Comfortaa', cursive;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
  }