@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
    width: 100%;
    font-family: 'Comfortaa', cursive;
    background-color: #ffffff;
  }

.navbar {
color: black;
margin-bottom:20px;
border-radius: 20px;
background-color: #ffffff;
box-shadow:  5px 5px 11px #e3e3e3, 
             -5px -5px 11px #ffffff;
}

.navbartext{
    color:black;
}

.bounce-top {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}

.rintro {
    margin:auto;
    padding:auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.connection{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 150px;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    border-radius: 44px;
    width: 100%;
    padding: 20px;
    margin: auto;
    max-width: 1366px;
    min-height: 100%;
    background-color: #ffffff;
}

.bounce-in-left{
    animation:bounce-in-left 1.1s both
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 3.0rem;
    color: #000000;
    margin-left:20px;
  }

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 2.0rem;
    color: #000000;
    margin-left:20px; 
}

h3 {
    color: #000000;
    margin-left: 20px;
    margin-bottom: 30px;
}

#intro {
margin-top: 15px;
margin-left: 18px;
margin-right: 20px;
margin-bottom: 100px;
display: flex;
justify-content: center;
align-items: center;
width: 55px;
height: 55px;
border-radius: 50%;
background: #ffffff;
box-shadow:  5px 5px 11px #e3e3e3, 
             -5px -5px 11px #ffffff;
}

#intro img {
    padding: 5%;
    width: 30px;
    height:30px;
}

#description {
    margin-top: 20px;
    margin-right: 20px;
    width: auto;
    height: 160px;
    border-radius: 44px;
    background: #ffffff;
    box-shadow:  5px 5px 11px #e3e3e3, 
                 -5px -5px 11px #ffffff;
    }

p {
    margin: auto;
    padding: 25px;
}

@-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  